.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
    font-size: 14px;
}

.checkbox input {
    width: auto;
}

.period {
    display: flex;
    align-items: center;
    gap: 16px;
}

form .list_table .title_column {
    width: 25%;
}

.list_table .content_column .left {
    width: 35%;
    padding-right: 32px;
}

.list_table .content_column .right {
    padding-top: 8px;
    width: 65%;
}

.list_table .button_column {
    width: 136px;
}

.list_table .button_column .button {
    padding: 4px;
    width: 45%;
}

input[type=text] {
    height: 32px;
}

textarea {
    height: 72px;
}


.list_table th {
    width: 10%;
}