.flex {
    gap: 56px;
    align-items: flex-end;
}

.flex_right {
    width: calc(100% - 192px + 32px);
}

.adjust_padding {
    padding-bottom: 48px;
}

.edit_image_button {
    padding: 4px;
    width: 96px;
    border-radius: 4px;
}

.border_bottom {
    border-bottom: 1px solid #333;
}

.input {
    font-size: 24px;
    font-weight: 600;
}