.flex {
    gap: 56px;
    align-items: flex-end;
}

.fv_user_icon {
    width: 192px;
    height: 192px;
    background: #eee;
}

.fv_user_icon i {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    font-size: 108px;
    line-height: 186px;
}

.flex_right {
    width: calc(100% - 192px + 32px);
}

.adjust_padding {
    padding-bottom: 48px;
}

.edit_image_button {
    padding: 4px;
    width: 96px;
    border-radius: 4px;
}

.border_bottom {
    border-bottom: 1px solid #333;
}

.input {
    font-size: 24px;
    font-weight: 600;
}

/*********************************
	responsive
*********************************/

@media screen and (max-width: 768px) {
    .flex {
        display: block;
    }

    .flex_right {
        width: 100%;
        margin-top: 32px;
    }
    
    .adjust_padding {
        padding-bottom: 0;
    }

    .current_content_title {
        margin-top: 64px;
    }

    .fz32 {
        font-size: 22px;
    }

    .ml32 {
        margin-left: 16px;
    }
}