table {
    width: 100%;
}

th {
    background: #F6F7F7;
}

table tr th {
    width: 20%;
    text-align: left;
}

table tr th,
table tr td {
    padding: 8px;
}

.image_table {
    margin-top: 56px;
}

.image_table tr td {
    height: 128px;
}

.button {
    font-weight: 600;
    width: 192px;
    font-size: 14px;
    display: block;
    padding: 8px;
    margin-top: 16px;
}