/*********************************
	form
*********************************/
.input {
    margin-top: 16px;
}

form .sub_title {
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    margin-top: 32px;
}