/*********************************
	body
*********************************/
body {
    color: #333;
    font-size: 16px;
}

/*********************************
	margin
*********************************/

/** top **/
.mt4 {
    margin-top: 4px;
}

.mt8 {
    margin-top: 8px;
}

.mt16 {
    margin-top: 16px;
}

.mt32 {
    margin-top: 32px;
}

.mt64 {
    margin-top: 64px;
}

/** left **/
.ml8 {
    margin-left: 8px;
}

.ml16 {
    margin-left: 16px;
}

.ml32 {
    margin-left: 32px;
}

/*********************************
	padding
*********************************/

/*********************************
	font size
*********************************/
.fz12 {
    font-size: 12px;
}

.fz14 {
    font-size: 14px;
}

.fz18 {
    font-size: 18px;
}

.fz22 {
    font-size: 22px;
}

.fz32 {
    font-size: 32px;
}

/*********************************
	font weight
*********************************/
.fwb {
    font-weight: 600;
}

/*********************************
	header
*********************************/
header {
    background: #333;
    color: #fff;
}

/*********************************
	aside
*********************************/
aside {
    background: #333;
    color: #fff;
}

aside a {
    color: #fff;
}

/*********************************
	main
*********************************/
main {
    background: #F0F0F1;
}

/*********************************
	flex item
*********************************/
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

/*********************************
	title
*********************************/
/** コンテンツのタイトル */
.content_title {
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
}

/** 現在の表示内容についてのタイトル */
.current_content_title {
    position: relative;
    height: 40px;
    margin-bottom: 32px;
}

.current_content_title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 1px;
    background: #333;
    left: 0;
    bottom: 0;
}

/*********************************
	Form
*********************************/
input,
textarea,
select {
    border: 1px solid #C3C4C7;
    font-size: 16px;
}

input,
textarea {
    width: 100%;
}

input {
    padding: 4px;
}

textarea {
    padding: 8px;
}

select {
    padding: 4px;
    font-size: 14px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=month]:focus,
select:focus textarea:focus {
    outline: 1px solid #8FBBFC;
    box-shadow: 0px 0px 6px #8FBBFC;
}

/*********************************
	button
*********************************/
.button {
    background: #0284BB;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    display: block;
}

.button.delete {
    background: #DC3545;
}

.button:hover {
    opacity: .8;
}

.button:focus {
    outline: none;
    box-shadow: none;
}

/** デフォルトボタン */
.button.default {
    width: 192px;
    padding: 8px;
}

.button-container.default {
    display: flex;
    gap: 16px;
}

/** アイテムボタン */
.button.item {
    padding: 2px 8px;
}

.button-container.item {
    display: flex;
    gap: 8px;
}

.button-container.item.table {
    display: flex;
    gap: 8px;
    margin: 0 auto;
}

.button.back {
    border: 1px solid #C3C4C7;
    background: #fff;
    color: #333;
}

.button.back:hover {
    background: #efefef;
}

.list-button-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.button.disabled {
    pointer-events: none;
    background: #005e85;
}

/*********************************
	table
*********************************/
table {
    border-collapse: collapse;
    border: 1px solid #C3C4C7;
    background: #fff;
    width: 100%;
}

th,
td {
    border: 1px solid #C3C4C7;
    padding: 8px;
}

.list_table th {
    background: #F6F7F7;
    font-size: 14px;
    text-align: left;
}

.current_content_table th {
    background: #F6F7F7;
    text-align: left;
}

.current_content_table .button {
    display: inline-block;
    margin: 0;
    margin-left: 32px;
    padding: 2px;
    width: 80px;
    border-radius: 4px;
}

.current_content_table .button.delete {
    margin-left: 16px;
}

/*********************************
	image
*********************************/
.square_image {
    width: 192px;
    height: 192px;
    display: block;
}

.rectangle_image {
    height: 192px;
    display: block;
}

/*********************************
	card
*********************************/
.card {
    background: #fff;
    padding: 16px;
    border: 1px solid #C3C4C7;
}

.card .head {
    display: flex;
    border-bottom: 1px solid #333;
    padding-bottom: 8px;
    gap: 16px;
}

.card .content {
    margin-top: 16px;
    justify-content: space-between;
}

.card:not(:first-child) {
    margin-top: 32px;
}

/*********************************
	バリデーションメッセージ
*********************************/
.error-message {
    color: #DC3545;
    font-size: 14px;
}