/*********************************
	css初期化
*********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: calc(100vh - 56px - 160px);
}

/*********************************
	共通パーツ
*********************************/
.section {
    margin-top: 104px;
}

.container {
    max-width: 768px;
    margin: 0 auto;
}

.section_title {
    color: #333;
    font-weight: 600;
    background: #F2F1EF;
    padding: 4px 12px;
    border-left: 4px solid #333;
    border-bottom: 1px solid #333;
    letter-spacing: .2em;
    margin-bottom: 40px;
}

.content_title {
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding: 2px 4px;
}

@media screen and (max-width:960px) {
    .container {
        width: 90%;
    }
}

/*********************************
	経歴
*********************************/
.career_list {
    margin-left: 12px;
    width: 100%;
}

.career_item {
    list-style: none;
    display: flex;
    gap: 32px;
}

.career_item:not(:first-child) {
    margin-top: 56px;
}

.career_item_title {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.career_term {
    font-size: 14px;
}

.career_work {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 600;
}

.career_detail {
    line-height: 28px;
    width: 80%;
    font-size: 14px;
    padding-top: 8px;
}

@media screen and (max-width:768px) {
    .career_item {
        display: block;
    }

    .career_item_title {
        width: 100%;
    }

    .career_term {
        order: 2;
    }

    .career_work {
        order: 1;
    }

    .career_work::after {
        display: block;
        width: 40px;
        height: 1px;
        margin: 20px 0;
        content: "";
        background: #333;
    }

    .career_detail {
        width: 100%;
    }
}

/*********************************
	実績紹介
*********************************/
.works_content_item {
    list-style: none;
}

.works_content_item:not(:first-child) {
    margin-top: 80px;
}

.works_content_image {
    width: 100%;
    height: auto;
    max-height: 512px;
    margin-top: 16px;
}

.works_content_image img {
    display: block;
    height: auto;
    max-height: 512px;
    max-width: 100%;
}

.works_content_link {
    margin-top: 16px;
    font-size: 14px;
}

.works_content_detail {
    font-size: 16px;
    letter-spacing: .2em;
    line-height: 1.8em;
    margin-top: 32px;
}

/*********************************
	仕事について
*********************************/
.work_style_content_item {
    list-style: none;
}

.work_style_content_item:not(:first-child) {
    margin-top: 32px;
}

.work_style_content_list {
    margin-top: 16px;
    margin-left: 32px;
    line-height: 1.8em;
}

/*********************************
	お問い合わせ
*********************************/
.contacts_content_item {
    list-style: none;
}

.contacts_content_item:not(:first-child) {
    margin-top: 80px;
}

.contacts_content_image {
    width: 100%;
    height: auto;
    max-height: 512px;
    margin-top: 16px;
}

.contacts_content_image img {
    display: block;
    height: auto;
    max-height: 512px;
    max-width: 100%;
}

.contacts_content_link {
    margin-top: 16px;
    font-size: 14px;
}

.contacts_content_detail {
    font-size: 16px;
    letter-spacing: .2em;
    line-height: 1.8em;
    margin-top: 32px;
}

.input {
    margin-top: 16px;
}

.input label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.input input,
.input textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 2px;
    border: 1px solid #C3C4C7;
}

.input textarea {
    height: 160px;
}

input[type=text]:focus,
textarea:focus {
    outline: 1px solid #8FBBFC;
    box-shadow: 0px 0px 6px #8FBBFC;
}

.form_submit {
    margin-top: 16px;
}

.form_submit input {
    width: 100%;
    color: #fff;
    border: none;
    background: #ff9a00;
    font-weight: 600;
    padding: 8px;
    font-size: 18px;
}

/*********************************
	footer
*********************************/
.footer {
    background: #333;
    height: 56px;
    line-height: 56px;
    color: #fff;
    margin-top: 160px;
}